{% extends 'todo/base.html' %}

{% block title %}My Todos{% endblock %}


{% block content %}
    <div class="header-container">
        <h2>My Todos</h2>
        <a href="{% url 'add_todo_page' %}">Add New Todo</a>
    </div>
   {% for list in todo_lists %}
    <div class="container">
            <h3>{{ list.name }}</h3>
            <ul>
                {% for item in list.todos.all %}
                    <li>{{ item.title }} {% if item.is_completed %}✅{% endif %} 
                    <div class="button-group">
                        <form action="{% url 'toggle_complete' item.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">
                                {% if item.is_completed %} Undo {% else %} Complete {% endif %}
                            </button>
                        </form>
                        <form action="{% url 'delete_todo' item.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">
                                DELETE
                            </button>
                        </form>
                    </div>
                    </li>
                {% empty %}
                    <li>No tasks in this list yet.</li>
                {% endfor %}
            </ul>
    </div>
    <hr>
    {% empty %}
        <p>No lists created yet.</p>
    {% endfor %}
{% endblock %}